{% extends "puzzle/base.html" %}

{% block title %}
About Tartan Scheduler
{% endblock %}

{% block content %}
<div class="container">

<div class="starter-template">
<h1>Problem</h1>
<p class="lead" align="justify">CMU students must decide every semester which courses to enroll in. Many struggle to find a sequence of courses which will allow them to not only complete their degree requirements but also take the classes they want to with their favorite professors without overloading themselves academically.</p>

<h1>Solution</h1>
<p class="lead" align="justify">This website allows CMU students to load their course requirements and upcoming-semester schedule options from Academic Audit and SIO.

Students input their course preferences, favorite professors, and intended difficulty of semester schedule to the site.  We’ll generate a set of schedules that both reflect these preferences and meet the student’s course requirements. 

By allowing students to evaluate their scheduling options according to both their long-term requirements and nearer-term preferences, this site will help them find the right balance between the courses they need and a schedule they enjoy.</p>
</div>

</div><!-- /.container -->
{% endblock %}