{% extends "problembase.html" %}

{% block title %} Fool of a Muggle {% endblock %}

{% block content %}
 Riding on pure intuition, you head to Gambol and Japes Wizarding Joke Shop, in Diagon Alley. As you duck inside, a magical chamber pot saunters up to you and offers a use. First years hop around and shoot each other with chocalate-fetti. While avoiding offers of mysteriously-colored jellie beans (watch out for Seriously Black), you examine a few items.
    <br /><br />
    This strange little box says, "Magee's Spontaneous Random Number Generator." It doesn't seem to be doing anything at the moment. You bring it up to your ear for a listen of sweet randomness. "5!" the box yells into your ear. You jump and drop the box, leaving it where it lies.
    <br /><br />
    On the far side of the room is a large sign next to a larger chest: "The Box that Contains Everything: Buy One, Get Infinity Free!" Making your way in that general direction (it BETTER have Horcruxes too), your eye is caught by a smaller sign: "Sold out." Sigh. The quest to find every Horcrux almost ended right there.
    <br /><br />
    But what catches your eye even more is a small yet colorful gameboard. It is a rectangle of tiles, and below there are two dials, each labeled from 1 to 15251. As you frobnicate the dials, you are surprised to see the game board change size, so that it is a rectangle with dimensions the numbers from the dials. Additionally, the gameboard changes color to be entirely blue, except for the upper left corner. That tile is green.
    <br /><br />
    Seeing you entranced by the shiny colors, who walks up but none other than Gambol Japes himself!
    <br /> "Have you ever played Galumphing Banderwoozles?" he says as he motions to the board. "They say it was crafted by You-Know-Who. The rules are pretty simple. You can only tap green squares. When you tap a green square, it will turn red. Adjacent squares that are red will stay red. Adjacent squares that are blue will turn green, while adjacent squares that are green will turn blue. The goal is to turn the whole board red."
    <br /><br />
    You daintily poke a few squares while Gambol watches on. You get it down to one blue square remaining, with the rest red. You lose.
    <br /><br />
    "Oh yeah, joke's on you. Some of the boards aren't solvable." The master of laughs and gases has had you again. "But hey, don't look so glum! You know what, I'll cut you a deal. If you can tell me how many of the boards are unsolvable across all different dial numbers, I'll let you have this one for whatever price you want!"
    <br /><br />
    "Oh right, in case you didn't figure it out as you played," Gambol turns to go, "'Adjacent' doesn't include Diagon Alley."
    <br /><br />
{% endblock %}