{% extends "problembase.html" %}
{% load staticfiles %}

{% block title %} Welcome to Hogwarts {% endblock %}

{% block content %}
 <img src="{% static 'owl.png' %}" alt="picture of owl" /><br />
    The owl you recieve is very eager to help.  A little too eager really.  The bird keeps flapping around and won't stand still long enough to take your message!  What you really need to do is call it down from the rafters.  Sadly, the owl is also a bit deaf, and will only hear you if you TALK REALLY LOUDLY.  Now, if only you knew the little guy's name...
    <br /><br />
    <br />
{% endblock %}