{% extends "problembase.html" %}

{% block title %} Q*-ditch {% endblock %}

{% block content %}
In the package delivered by Pigwidgeon, you find this note from Klausledore:
    <div class="quote">
      I've been following Ludovector Bagman, a known Math Eater, for quite some time now. It seems that he was entrusted with one of Voldemath's Horcruxes! The gold ring he wears on his right hand apparently stores a piece of Voldemath's soul. Ludovector especially likes to bet on Q*-ditch scores. Maybe this can be used against him?
    </div>
    <br />
    A little bit of background: five years back, the Ministry of Wizarding Sports was established to "review and correct unfairness in magical sports." Quidditch fell under fire for being ridiculously nutty. In a stroke of righteous justice the Ministry abolished Quidditch and created the new sport of Q*-ditch. 
    <br /><br />
    The rules to Q*-ditch are pretty close to the rules of Quidditch, with the following changes:
    <br />
    <ul>
      <li>
        The snitch, deemed "volatile" and "inconsistent", has been abolished. Play now consists of two 60 minute periods, with a 20 minute halftime.
      </li>
      <li>
        Players are required to use the Q*-ditch athletic standard broom design, a magic-afied Swiffer 2-in-1 Surface and Floor Power Scrubber.
      </li>
      <li> 
        The three goals are worth variable amount of points. The left goal (from the perspective of the keeper) is worth 15210 points. The right goal (from the perspective of the keeper) is worth 15213 points. The center goal is worth 15251 points. Points are awarded whenever the quaffle traverses through a hoop, going either forwards or backwards.
      </li>
      <li>
        In the event of a tie score at the end of both 60 minute halves, the winner is determined by coin flip.
      </li>
    </ul>
    <br />
    Armed with this knowledge, you head to the Ministry of Wizarding Sports where Ludovector employs himself. Barging into his office, you're going to give him an offer he should refuse (but fortunately, he won't). You want to bet him the Wimbourne Weierstrutters won't score exactly X points in their game today. In order to be sure of yourself, you pick the largest score that no Q*-ditch team can achieve. What number do you pick?
    <br /><br />
{% endblock %}