{% extends "activitybase.html" %}
{% load staticfiles %}

{% block title %} Meet with Anshu! {% endblock %}

{% block content %}
You wake up groggy a few hours, days, or maybe months later in the infirmary.  Searching around your bedside table, you find a piece of parchment and a quill, and write a small note to yourself.  "Do not get bitten by basilisks."  Sad that you have to remind yourself of that, huh?  Turning the paper over, you notice that someone's already written on the parchment.  Struggling to interpret the awful handwriting, you finally decipher the note:

<br /><br/>
I noticed you found a horcrux.  If you'd like, I can help you out with that.  Just don't go pricking yourself with it, okay?  It's generally not a good idea to get bitten by basilisks.  You can find me in Tazza d'Oro on Friday from 5:00 PM to 7:30 PM, Sunday from 9:30 AM to 11:30 AM, or Monday from 5:00 PM to 7:00 PM.
<br />
-Anshu
<br /><br />
    <img src="{% static 'activitypic/anshu.jpg' %}" width="330" height="250" />
{% endblock %}