{% extends "activitybase.html" %}
{% load staticfiles %}

{% block title %} Meet with Chris! {% endblock %}

{% block content %}
"Who are you?!" Ludovector cries upon hearing your bet, immediately followed by, "Done!" After a few introductions, you say goodbye to your buddy the Math Eater, enemy of free magical mathematicians everywhere, and head to the Q*-ditch pitch for the big game.
    <br /><br />
    The Wimbourne Weierstrutters are playing their longtime rivals, the Hillbert Broomstellensats. It's a long game (predictably 140 minutes), and at the end of the second half, the score is tied a miraculous 3,528,924,772,230 to 3,528,924,772,230! Now comes the time where a team is tested to its limits, and great men are made heroes. Both captains hold their brooms at their sides as they approach the center of the pitch. The coin goes up... and it's heads! The Hillbert Broomstellensats are the victors! The crowd goes wild!
    <br /><br />
    Fortunately, the Weierstrutters way overshot your bet. Returning to Ludovector Bagman's office in the Ministry of Wizarding Sports, he sadly gives up the gold ring off his right hand. Another Horcrux for you!
    <br /><br />
    Returning home, you have the sudden urge to throw this ring into a fire. Yelling the good old "Incendio!" you cast the ring into the flames. Even as you watch, words ringed in light start to appear on the golden ring! Pulling the ring from the fire, you hold it above you, reading the words:
    <br /><br />
      <div class="quote">
        Chris can be found in the lounge outside Ginger's Express on Baker A from 4:30 to 6:00 on Friday onwards.
      </div>
    <br /><br />
    <img src="{% static 'activitypic/chris.jpg' %}" margin="0px auto" />
{% endblock %}
