<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <title>Mathsemagical Journey of the Soul</title>
    <link rel="stylesheet" type="text/css" href="../css/quest.css">
    <script language="javascript" type="text/javascript" src="../js/util.js"></script>
  </head>
  <body>
    Your proof is starting to break. Where could such infallible logic go wrong?! Surely there was rigor enough for the most critical of men. You feel your bodily power sapping away. Voldemath is destroying you! The hut filled with books is sucked into a pocket of space somewhere behind your iris. Sound is a wall. Hermione look-alike says, "Don't you get it?" and somewhere the binary digits of pi are counting themselves in the background. Voldemath says, in a voice that sounds a lot like Klausledore, 
<br /><br />
"No."
<br /><br />
"I guess you weren't up to this type of challenge."
<br /><br /><br />
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
<br /><br /><br /><br /><br />
Your eyes are closed. You open an eyelid half an inch. You're in a hut. All around you are stacks of books. The nearest one reads "The Magic of Self-Adjusting Trees: An Introduction Even Scrambled Eggs Could Understand." A little way in front of you is a desk, and behind the desk is a bespectacled man with his head bent down. As you shift to get a better view your cloak rustles slightly.
<br /><br />
The man looks directly at you and says, "Wait, what?"
<br /><br />
You're awake now. You stand up and dust off.
<br /><br />
"You're supposed to be dead! No one fights a proof battle with me and lives!" Voldemath is clearly a little bothered. 
<br /><br />
You are just as confused. Could someone please tell me what just happened?
<br /><br />
Before your wits gather, there's a swoosh of air accompanied by a flutter of feathers. In flies Pigwidgeon through the hut's open windows! He's carrying a long small box, which he deposits in your shaky hands. You remove the lid, revealing a long black table. Lying along the table are a legitimate flock of tiny hippogriffs napping away. Awwwwwwww they're so cute. And so chubby! Pigwidgeon looks suspicious of the tiny sleeping giant-eagles.
<br /><br />
Translating, you read the message
<br /><br />
"You ARE the Horcrux. Voldemath just killed himself.
<br /><br />
A Friend"
<br /><br />
Wait, what? Voldemath actually split his soul into nine parts, and somehow used you as a vessel? You are so confused! This is ridiculous! Who would ever think of doing something that silly? And how are you supposed to be a Horcrux anyways? This is stupid, you think to yourself.
<br /><br />
Oh. You turn the hippogriff table around, revealing the message that was actually being transmitted:
<br /><br />
"Go outside sometime.
<br /><br />
Klausledore"
<br /><br />
You put the hippogriff message back in the box and turn to go. But before that, you see Voldemath across the desk, with his head bowed.
<br /><br />
"There is no formal system where the occurrences in this hut make sense. You actually should have died right there! Who are you?! Above all, I'm at a loss for explanation. And that's not something that escapes me often." He pauses for a breath. "You know what, I'm tired of all this. I quit. Resign. I'm done trying to make sense of a world filled with magic and impossibility. You can be the head of the Math Eaters. Besides, your proof wasn't THAT bad. Even if it wasn't perfect." With this Voldemath slumps down onto his desk. The most feared mathsemagician of the current age has surrendered his powers of deduction and induction to you. 
<br /><br />
I guess you no longer have to kill him. Having accomplished (most) of what you intended, you go outside to fulfill Klausledore's note. Outside the hut, you realize that a good bit of time has passed since you first entered the hut. Apparently you were kind of dead for most of the day. 
<br /><br />
Looking across the grassy plains outside of Hogwarts castle, you see Klausledore standing underneath a splay tree. You head over to him with the haste of a job well done.
<br /><br />
"Hello three" Klausledore says to you. "And I actually mean three. Not there. That's right. Did you know I'm not actually British? I'm mostly German. My ancestor is Conan the Barbarian."
<br /><br />
"You see, you did actually die for a moment there. Well, at least a part of you did. You may not have realized it, but you're actually four consciences in one body. Yeah, it comes as a bit of a shock to some people. Hermione-likealike took a hit in the hut there. He/she tried so hard to make your proof more rigorous that he/she was lost to Voldemath. So now you are reduced to only three. But that's ok too."
<br /><br />
"By the way, nice work on defeating Voldemath! It seems that peace and well-ordering have returned to the world, and now that you lead the Math Eaters, you can have them solve problems for good, rather than for evil. I can go back to my automata, and you can return to the comfort of your common room for a deserved nap. See you at class!"
<br /><br />
Congratulations! You successfully completed the puzzle hunt!

  </body>
</html>
