{% extends "activitybase.html" %}
{% load staticfiles %}

{% block title %} Meet with Jram! {% endblock %}

{% block content %}
 Finally, you have the perfect competitor worked out for the Biwizard Cup. Since it's the smallest string, you have to win! Unfortunately, there are a lot of smart wizards in the world... it seems that Durmstrang and Beauxbatons submitted the exact same number! In order to resolve this standoff, Klausledore does the only thing he should do: he awards Hogwarts as the winning team!
    <br /><br />
    The competitors from Durmstrang and Beauxbatons don't seem so happy about this as they sulk back to mainland Europe. But you haven't got time to worry about losers. You've just received the Biwizard Cup trophy, shaped as the digits "10"!
    <br /><br />
    "Wooh, we're number ten!" a Hufflepuff shouts. "No," retorts a Ravenclaw nearby, "It's two. Duh."
    <br /><br />
    "Two!" he shouts again, heading away from you.
    <br /><br />
    You smirk to yourself. Everybody knows the wizarding standard is big endian! At least you can rest knowing you're number one. 
    <br /><br />
    Coming up to you, a Gryffindor says to your face, "Hey, I can help you with that. My name's John. If you want it, you know you can find me. You know, destroy the trophy." Getting his information, you can find John on Sunday and Monday from 5:30 to 6:30, or Tuesday from 6:00 to 7:00, at Wean 7.
    <br /><br />
    <img src="{% static 'activitypic/john.jpg' %}" width="300" height="300" />
{% endblock %}