{% extends "activitybase.html" %}
{% load staticfiles %}

{% block title %} Meet with Prasanth! {% endblock %}

{% block content %}
You pick your set of game boards, and off you go to play. Since you picked the right ones, Fluffy keeps losing! Poor guy... But you aren't too concerned. After all, you don't think twice about playing around with your kitty's insides in Transfiguration class. Better Cerberus than you! It seems it really is a dog eat dog world.
    <br /><br />
    After the game is done, you've reached the door and the Horcrux. After all the game rules you just somehow understood, how did you know it was a Horcrux? Because it was a labeled piece of paper telling you so! You couldn't miss it! Fortunately, it also has some useful information on the back:
    <div class="quote">
      Did you know I can be destroyed? Talk with Prasanth 4:30-5:30 on weekdays or 11:30-12:30 on the weekend. Find him around the Gates 5 printer.
      <br /><br />
	  Remember to bring the horocrux <br />
	  This one <br/>
	  | <br/>
	  | <br/>
	  v
    </div>
    <br /><br />
    <img src="{% static 'activitypic/prasanth.jpg' %}" width="296" height="220" />
{% endblock %}
