{% extends "activitybase.html" %}
{% load staticfiles %}

{% block title %} Meet with Thomson! {% endblock %}

{% block content %}
After your analysis of the data, you're confident that you can identify Math Eaters who use the strongest spells. One of them sticks out particularly -- Adalbert Waffling. You ask Ringsley if he's got any more information.
    <br /><br />
    "It's said that Adalbert Waffling once participated in a duel with Voldemath himself. Obviously, Voldemath came out ahead. But no one's quite sure why Voldemath didn't just kill him, as he likes to do with those he vanquishes. It's a big question mark in my mind."
    <br /><br />
    You thank Mr. Shacklebolt for his hospilality and take leave of the Department of Magical Law Enforcement. Why wouldn't Voldemath kill Waffling? You're not so sure either.
    <br /><br />
    But the answer strikes you like a handful of Bertie Botts Every Flavour Beans. He didn't kill him; he did worse -- he turned Adalbert Waffling <em> into </em> a walking Horcrux! Voldemath split a piece of his soul and planted it in Waffling! This is a very disturbing revelation.
    <br /> <br />
    After a bit of snooping, you find that Adalbert Waffling goes by the alias Thomsonn Yeh. You're not quite sure what you plan to do, but you know you must find him in person. You can confront him during the hours 4:30 to 6:30, on Thursday, Friday, Monday, or Tuesday. He's to be found on CFA 2nd floor, at the table above odd-numbered rooms.
    <br /><br />
    <img src="{% static 'activitypic/thomson.jpg' %}" width="210px" height="435px"/>
{% endblock %}