{% extends "activitybase.html" %}
{% load staticfiles %}

{% block title %} Meet with Yuyang! {% endblock %}

{% block content %}
After a very short time, you have the solution to this enigma. You spit the whole string to Hermione-lookalike, just proving that every witch and wizard can figure out questions as well as anyone. In a blaze of excitement you can't help but add, "Flesh-eating slug <em>attractant</em> is what Voldemath really needs!"
    <br /><br />
    You take a sip of the Felix Felicis. To you it just tastes bland. And it certainly doesn't make you feel any luckier! For a little while you sit and pass the time, staring at the pretty clouds. Wow, that one could have come from somewhere where it's sunny!
    <br /><br />
    Yawn. Afternoon is dragging on and nothing has happened. Hermione-lookalike is starting to get pestered. It's really starting to pester you. You are taken by a mostly uncontrolled burst of anger. You grab the Elixir of Life and fling it to the ground, where it shatters almost as loudly as the screams from your group. Still gripped by a divine strength, you're breathing heavy. Looking down, where the bottle used to be there is a small, perfectly smooth stone.
    <br /><br />
    "A bezoar!" cries Hermione-lookalike. "The panacea for every poison!" Could this be the Horcrux you were hunting for?
    <br /><br />
    Pocketing the small stone, once again you're lolling about. How are you supposed to destroy a stone that can withstand the most virulent of chemicals? You go back to the note; maybe there's another clue.
    <br /><br />
    But you can no longer read the note! It seems that you were lucky enough to contract dyslexia. Most of the note no longer makes sense. But you can make out the name "Yuyang Guo" at the bottom and message "Hunt first floor 6:30 - 7:30 Thursday onwards (except Saturday)" from the rest.
    <br /><br />
	<img src="{% static 'activitypic/yuyang.jpg' %}" width="260" height="340" />
{% endblock %}
